<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Order_System_UI.Properties.Settings.PracticeConnectionString"
            connectionString="Data Source=AMESHPC\AMESHK_SERVER;Initial Catalog=Practice;Persist Security Info=True;User ID=sa;Password=Kahloon54--"
            providerName="System.Data.SqlClient" />
        <add name="Order_System_UI.Properties.Settings.modelConnectionString"
            connectionString="Data Source=AMESHPC\AMESHK_SERVER;Initial Catalog=model;Persist Security Info=True;User ID=sa;Password=Kahloon54--"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>