<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CottonOilFactory.OrderGUI.Properties.Settings.CottonFactoryOrderInformationConnectionString"
            connectionString="Data Source=BRYAN-SP4\MSSQLSERVERMIXED;Initial Catalog=CottonFactoryOrderInformation;Persist Security Info=True;User ID=sa;Password=QQbq65#*"
            providerName="System.Data.SqlClient" />
        <add name="CottonOilFactory.OrderSystemGUI.Properties.Settings.CottonFactoryOrderInformationConnectionString"
            connectionString="Data Source=BRYAN-SP4\MSSQLSERVERMIXED;Initial Catalog=CottonFactoryOrderInformation;Persist Security Info=True;User ID=sa;Password=QQbq65#*"
            providerName="System.Data.SqlClient" />
        <add name="CottonOilFactory.OrderSystemGUI.Properties.Settings.CottonFactoryOrderInformationConnectionString1"
            connectionString="Data Source=AMESHPC\AMESHK_SERVER;Initial Catalog=model;Persist Security Info=True;User ID=sa;Password=Kahloon54--"
            providerName="System.Data.SqlClient" />
        <add name="CottonOilFactory.OrderSystemGUI.Properties.Settings.modelConnectionString"
            connectionString="Data Source=AMESHPC\AMESHK_SERVER;Initial Catalog=model;User ID=sa;Password=Kahloon54--"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>